:root{
    --main-color: #333;
    --secondary-color: #555;
    --third-color: #111;
    --mask-color: rgba(30,30,30,0.9);
    --text-color: #fff;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: var(--secondary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    border-bottom: var(--third-color) 1px solid;

    position: sticky;
    top:0;
    z-index: 2;
}
nav span{
    font-weight: 700;
}
nav p{
    font-size: 30px;
   position:absolute;
   left:20px;
}
nav input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
    border: 2px var(--main-color) solid;
    margin: 0 150px 0 175px;
    padding: 0 5px 0 5px;
    color: var(--third-color);
    transition:  outline 0.1s ease-in-out;

}
nav input:focus{
    outline: solid rgba(255, 255, 255, 0.562) 2px;
}

nav select{
    height: 100%;
    background-color: var(--secondary-color);
    border:none;
    font-weight: 700;
}

nav select:hover, .searchResult:hover{
    filter: brightness(1.2);
    cursor: pointer;
}



.searchResults{
    display: none;
    flex-direction: column;
    position: sticky;
    z-index: 2;
    top: 50px;
    left:25%;
    width: 50%;
    background-color: var(--secondary-color);
}
.searchResults.show{
    display: flex;
}

.searchResult{
    width:100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--main-color) 1px solid;
    background-color: var(--secondary-color);

}

.searchResult img{
    height: 100%;
    margin-right: 50px;
}

section{
    position: relative;
    padding: 50px;
    background-color: var(--main-color);
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.movie{
    position: relative;
    background-color: var(--third-color);
    width: 200px;
    height: 300px;
    margin:20px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.movie:hover{
    transform: scale(1.1);

}
.movie .desc-container{
    background-color: var(--mask-color);
    position: absolute;
    top:100%;
    padding: 5px;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out 0.2s;
}
.movie:hover .desc-container{
    top:0%;
}

.movie .desc-container p:first-child{
    font-weight: 700;
}